[workspace]
resolver = "2"
members = ["hydra-core", "hydra-engine"]

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "abort"
strip = "symbols"

[profile.bench]
inherits = "release"
